extends layout

block projectContent
  .content 
    if id === -1
      each article in articles
        if filter !== ""
          if article["source"] === filter
            .articleBlock
              h2.content-subhead
                a(href='/article?id='+article.id)= article["title"]
              p= article["contents"]
        else 
          .articleBlock
            h2.content-subhead
              a(href='/article?id='+article.id)= article["title"]
            p= article["contents"]
    else 
      .bigArticle 
        h1.header= articles[id]["title"]
        p= articles[id]["contents"]